//  Color.
//-----------------------------------------------------------------------------

$white:             #ffffff;
$black:             #000000;

$gray-white:        #f0f0f0;
$gray-lightest:     #dbdbdb;
$gray-lighter:      #c7c7c7;
$gray-light:        #b3b3b3;
$gray:              #999;
$gray-dark:         #666;
$gray-darker:       #333;
$gray-darkest:      #292929;
$gray-black:        #141414;